@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0 10%;
    padding-top: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav .logo{
    color: #08c;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding: 5px 10px;
}

nav a{
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

nav a li:hover{
    border-bottom: 3px solid #08c;
}




/** about section **/
.about-text span{
    color: coral;
}

.about{
    display: flex;
    justify-content: space-between;
}

.about-text{
    width: 50%;
    padding-right: 120px;
    padding-top: 7em;
}

.about img{
    padding-top: 10px;
    width: 30%;
    border-radius: 75%;
}

.pattern-dots-lg{
    width: 200px;
    height: 200px;
}